<!-- <h1>Intial Component</h1>

<nav>
  <a routerLink="/home">Home</a> &nbsp;
  <a routerLink="/about">About</a> &nbsp;
  <a routerLink="/dashboard">Dashboard</a>
</nav><br> -->

<!-- <button (click)="getProfile()">Profile</button> -->

<!-- <a [routerLink]="['/profile', 101]">View Profile</a> -->

<!-- <router-outlet></router-outlet> -->

<h2>Task List</h2>

<div *ngIf="loading">Loading tasks...</div>
<div *ngIf="errorMsg">{{ errorMsg }}</div>

<ul *ngIf="!loading">
  <li *ngFor="let task of tasks">
    {{ task.title }} -
    <b>{{ task.completed ? 'Done' : 'Pending' }}</b>
  </li>
</ul>
